.my-experience{
    p{
        margin-bottom: 20px;
        font-size: 18px;
        text-align: justify;
        text-indent: 40px;
    }
    h1{
        text-align: center;
        color: #337ab7;
        margin: 30px 0;
    }
    hr{
        border-top: 1px solid #ccc;
    }
    h2{
        margin-top: 0px;
        color: #337ab7;
        text-align: center;
    }
    .introduction{
        margin-bottom: 50px;
    }
    .conclusion{
        margin-bottom: 100px
    }
    @media (min-width: 768px){
        h2{
            text-align: left;
        }
    }    
    @media (min-width: 1024px){
        p{
            font-size: 20px;
        }
    }

    .my-experience-timeline {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@import "../molecules/experience-block.scss";
