.introduction{
    position: relative;
    background-color: black;
    p{
        text-align: center;
        font-size: 30px;
        color: white;
    }
    .title-block{
        background: rgba(0,0,0,0.2);
        position: absolute;
        overflow: hidden;
        display: block;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: 95%;
        height: 80%;
        margin: auto;
    }
    @media (min-width: 480px){   
        .title-block{
            width: 90%;
            height: 60%;
        }
    }
    @media (min-width: 768px){
        p{
            font-size: 36px;
        }
        .title-block{
            padding: 10px 0;
            width: 90%;
            height: 45%;
        }
    }
    @media (min-width: 1024px){
        /*min-height: 682px;*/
        p{
            font-size: 42px;
        }
    }
    @media (min-width: 1200px){
        .title-block{
            padding: 30px 0;
            width: 950px;
            height: 315px;
        }
        img{
            max-height: 853px;
            width: 100%;
        }
    }
    @media (min-width: 1440px){
        img{
            max-height: 853px;
            margin: 0 auto;
            width: auto;
        }
    }
}
