.projects_desc_block {
  .container {
    padding: 0;
  }
  img {
    margin: 0px auto;
  }
  a:hover {
    color: white;
  }
  h2 {
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  h3 {
    color: white;
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  p.text {
    color: white;
    text-align: justify;
    text-decoration: none;
    font-size: 18px;
    margin: 0;
    text-indent: initial;
  }
  > .row {
    padding: 15px 0;
  }
  .details {
    margin: 15px 0;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    p.text {
      font-size: 20px;
    }
    h2 {
      text-align: left;
    }
  }
  @media (min-width: 992px) {
    padding: 0px;
    margin-top: 10px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    width: 100%;
    > .row {
      margin: 0;
    }
  }
  @media (min-width: 1024px) {
    .container {
      padding: 0 15px;
    }
    p.text {
      text-align: justify;
      text-decoration: none;
      font-size: 20px;
      text-indent: initial;
    }
  }
}
.shadow {
  -webkit-box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.82);
  box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.82);
}
.projects {
  background: #44b4c4; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #44b4c4 0%,
    #1792a4 40%,
    #047ca0 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #44b4c4 0%,
    #1792a4 40%,
    #047ca0 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #44b4c4 0%,
    #1792a4 40%,
    #047ca0 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.hackathons {
  background: #bed57e; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #bed57e 0%,
    #5fb677 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #bed57e 0%,
    #5fb677 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #bed57e 0%,
    #5fb677 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.ideas {
  background: #ffd15e; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #ffd15e 0%,
    #ffbc05 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #ffd15e 0%,
    #ffbc05 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #ffd15e 0%,
    #ffbc05 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
} 