@import '../../styles/utilities/mixins';

.my_projects {
  @include page-typography;

  .collection_projects {}

  @media (min-width: 992px) {
    .collection_projects {
      width: 970px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
      -webkit-columns: 3;
      -moz-columns: 3;
      columns: 3;
      -webkit-column-gap: 10px;
      -moz-column-gap: 10px;
      column-gap: 10px;
    }
  }

  @media (min-width: 1200px) {
    .collection_projects {
      width: 1170px;
    }
  }

  .introduction,
  .conclusion {
    p {
      color: var(--color-text-secondary);
    }

    a {
      color: var(--color-text-secondary);
    }
  }
}