/* --- Snap Utilities --- */

.snap-img-fluid {
  max-width: 100%;
  height: auto;
}

.snap-clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.snap-pull-right {
  float: right !important;
}

@media (max-width: 767px) {
  .snap-hidden-sm {
    display: none !important;
  }
} 