// No content here anymore

section {
  padding: 0;
}

@media (min-width: 1440px) {
  .container {
    width: 1310px;
  }
}

h2 {
  text-align: center;
  font-weight: bold;
  margin: 0 0 30px 0;
}

p.text {
  text-align: justify;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 24px;
  text-indent: initial;
}

p.link {
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  margin-top: 24px;
}

@media (min-width: 1024px) {
  p.text {
    text-align: justify;
    text-decoration: none;
    font-size: 24px;
    text-indent: initial;
  }
}

// Import component styles
@import './organisms/profiles';
@import './organisms/projects';
@import './organisms/content-blogs';
@import './organisms/jobs-timeline';
@import './organisms/greetings';
@import './organisms/color-legend-projects'; 