/* --- Components: Alert --- */

.snap-alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.75rem;
}

.snap-alert-success {
  color: var(--color-success);
  background-color: var(--color-success-bg);
  border-color: var(--color-success-border);
}

.snap-alert-danger {
  color: var(--color-error);
  background-color: var(--color-error-bg);
  border-color: var(--color-error-border);
} 
